NiuTrans.Tensor.vcxproj
NiuTrans.Tensor.vcxproj.filters
x64/
vc140.pdb
NiuTrans.Tensor.vcxproj.user
NiuTrans.Tensor.aps
build/
xxx/
bin/
.vs/
replace.py
*.zip
data/model/model.fp16
data/model/model.fp32
data/source_cpu/
data/model.fp16
data/model.fp32
data/models/
data/html.txt
data/niutensor_gpu.tar
data/nts.tmp.bpe
data/res.txt
*.fp16
data/test.txt
